<header class="page-header" role="banner">
    {% if site.github.is_project_page %}
    <a href="/home" class="btn">Home</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="/sobre" class="btn">Sobre</a>
    <a href="/categorias" class="btn">Categorias</a>
    {% endif %}
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
        }}</h2>

</header>
